@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
}

h2 {
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.chatbox-container {
    max-height: 68vh;
    min-height: 68vh;
    overflow-y: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border: 2px solid rgb(var(--foreground-rgb));
    border-radius: 5px;
}

.progress-label {
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    font-size: 1.2rem;
}

.font-dynamic {
    transition: font-size 0.4s;
}
